


<app-navigation></app-navigation>

<div class="container" style="margin-top: 20px;">

  
    <div class="row">
      <div class="col-sm-3">
       
      </div>
      <div class="col-sm-6">
        
        <div class="card ">
            <div class="card-header bg-primary text-white">
             Admission Form
            </div>
            <div class="card-body">
                <form #myform="ngForm" (ngSubmit)="save(myform)">
                
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example1" class="form-control"  #fname="ngModel" name="fname" #fname ngModel required/>
                          <label class="form-label" for="form6Example1">First name</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example2" class="form-control" #lname="ngModel" name="lname" #lname ngModel required/>
                          <label class="form-label" for="form6Example2">Last name</label>
                        </div>
                      </div>
                    </div>
                  
                   
                  
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form6Example4" class="form-control" #address="ngModel" name="address" #address ngModel required />
                      <label class="form-label" for="form6Example4">Address</label>
                    </div>
                  
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="form6Example5" class="form-control" #email="ngModel" name="email" #email ngModel required/>
                      <label class="form-label" for="form6Example5">Email</label>
                    </div>
                  
                    <!-- Number input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form6Example6" class="form-control" #phone="ngModel" name="phone" #phone ngModel required/>
                      <label class="form-label" for="form6Example6">Phone</label>
                    </div>
                    <div class="form-outline mb-4">
                     
                    <select class="form-select" aria-label="Default select example" #course="ngModel" name="course" #course ngModel required>
                      <option selected>Open this select menu</option>
                      <option value="1">Tally</option>
                      <option value="2">Dtp</option>
                      <option value="3">Web-Designing</option>
                      <option value="3">Programming</option>
                    </select>
                    <label class="form-label" for="form6Example6">Select Course</label>
                  </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4" >Register Your Addmission</button>
                  </form>

                  <table class="table table-bordered" cellpadding="20px">
                    <tr>
                      <th>Id</th>
                      <th>Fname</th>
                      <th>Lname</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Course</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let i of mydata">
                      <td>{{i.id}}</td>
                      <td>{{i.fname}}</td>
                      <td>{{i.lname}}</td>
                      <td>{{i.address}}</td>
                      <td>{{i.phone}}</td>
                      <td>{{i.email}}</td>
                      <td>{{i.course}}</td>
                      <td>Edit|Delete</td>
                    </tr>
                  </table>
              


                
            </div>
          </div>




      </div>
      <div class="col-sm-3">
       
      </div>
    </div>
  </div>